<% provide(:title, t(:new_user_title)) %>

<div class="row">
  <div class="span6 offset3">
  	<%= form_for(@user) do |f| %>
    <%= render 'shared/error_messages', object: f.object %>
      <div class="form-group">
	      <%= f.label t(:username_label) %>
	      <%= f.text_field :name %>
      </div>
      <div class="form-group">
	      <%= f.label t(:password_label) %>
	      <%= f.password_field :password %>
	  </div>	  
      	<%= f.submit t(:sign_in_button_name), class: "btn btn-large btn-primary" %>      
    <% end %>
  </div>
</div>
