<% provide(:title, t(:signin)) %>
<h1><%= t(:signin) %></h1>

<div class="row">
  <div class="span6 offset3">
    <%= form_tag sessions_path do %>
      <%= label_tag :email, t(:email) %>
      <%= text_field_tag :email, params[:email] %>

      <%= label_tag :password, t(:password) %>
      <%= password_field_tag :password %>

      <%= submit_tag t(:signin), class: "btn btn-large btn-primary" %>
    <% end %>
  </div>
</div>