<h1><%= t(:list_donante) %></h1>

<table>
  <thead>
    <tr>
      <th>Codigo</th>
      <th>Donante</th>
      <th>Nombre contacto</th>
      <th>Email</th>
      <th>Telefono</th>
      <th></th>
      <th></th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% @donantes.each do |t| %>
      <tr>
        <td><%= t.codigo %></td>
        <td><%= t.donante %></td>
        <td><%= t.nombre_contacto %></td>
        <td><%= t.email %></td>
        <td><%= t.telefono %></td>
        <td><%= link_to t(:details), t %></td>
        <td><%= link_to t(:edit), edit_donante_path(t) %></td>
        <td><%= link_to t(:delete), t, method: :delete, data: { confirm: t(:delete_confirmation) } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to t(:new_record), new_donante_path %>
