<p id="notice"><%= notice %></p>

<p>
  <strong>Codigo:</strong>
  <%= @donante.codigo %>
</p>

<p>
  <strong>Donante:</strong>
  <%= @donante.donante %>
</p>

<%= link_to t(:edit), edit_donante_path(@donante) %> |
<%= link_to t(:nav_back), donantes_path %>

