<% provide(:title, t(:users_title)) %>
<h1><%= t(:users_heading) %></h1>

<a href="/users/new"><%= t(:create_user) %></a>

<%= will_paginate %>

<ul class="users">
  <%= render @users %>
</ul>

<%= will_paginate %>