<header class="navbar navbar-fixed-top navbar-inverse">
  <div class="navbar-inner">
    <div class="container">
      <%= link_to t(:title), root_path, id: "logo" %>
      <nav>
        <ul class="nav pull-right">
          <li><%= link_to t(:home), root_path %></li>
          <% if signed_in? %>
            <% if current_user.admin? %>
              <li><%= link_to t(:users), users_path %></li>
            <% end %>
            <li><%= link_to t(:signout), signout_path, method: "delete" %></li>
          <% else %>
            <li><%= link_to t(:signin), signin_path %></li>
          <% end %>
        </ul>
      </nav>
    </div>
  </div>
</header>